@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Gluten&family=Kanit:ital,wght@0,300;0,400;0,500;1,300&family=Poppins:wght@500&family=Rubik+Iso&family=Sedgwick+Ave+Display&display=swap');

:root{
    --main-color:#8e44ad;
    --black:#222;
    --white:#f1eaea;
    --light-black:#777;
    --light-white:#fff9;
    --dark-bg:rgba(0,0,0,0.7);
    --light-bg:#eee;
    --border:.1rem solid var(var(--black));
    --box-shadow:0 .5rem 1rem rega(0,0,0,.1);
    --text-shadow:0 3rem 1rem rega(0,0,0,.3);
}
*{
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-decoration: none;
    text-transform: capitalize;
}