@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Gluten&family=Kanit:ital,wght@0,300;0,400;0,500;1,300&family=Poppins:wght@500&family=Rubik+Iso&family=Sedgwick+Ave+Display&display=swap');

:root{
    --main-color:#8e44ad;
    --black:#222;
    --white:#fff;
    --light-black:#777;
    --light-white:#fff9;
    --dark-bg:rgba(0,0,0,0.7);
    --light-bg:#eee;
    --border:.1rem solid var(var(--black));
    --text-shadow:0 3rem 1rem rega(0,0,0,.3);
}
*{
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-decoration: none;
}
html{
    font-size: 62.5%;  
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
   background-color:var(--white) ;
}
html::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
.header{
    position: sticky;
    top:0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color:var(--white);
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 5px 10px var(--black);
}
.header .logo{
    font-size: 2.5rem;
    color: var(--black);
}
.header .navbar a{
    font-size: 1.5rem;
    margin-left: 2rem;
    color: var(--black);
}
.header .navbar a:hover{
    color: var(--main-color);
}
#menu-btn{
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
    display: none;
}


section{
    padding: 1rem 1%;
    min-height: 50vh;
}
/* animation */
@keyframes fadeIn {
    0%{
     transform: scale(.5);
     opacity: 0;
    }
 }
 .heading{
    background-size: cover !important;
    background-position: center !important;
    padding-top: 10rem;
    padding-bottom: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .heading h1{
    font-size: 10rem;
    text-transform: uppercase;
    color: var(--white);
    text-shadow: var(--text-shadow);
 }
.btn{
    display: inline-block;
    background:var(--black);
    margin-top: 1rem;
    color: var(--white);
    font-size: 1.5rem;
    padding: 1rem 2.5rem;
    margin-top: 1rem;
    cursor: pointer;
}
.btn:hover{
    background-color: var(--main-color);
}








/* home */
.home{
    padding: 0;
}
.home .swiper-slide{
    text-align: center;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center !important;
    background-size: cover !important;
    min-height: 40rem;
}
.home .swiper-slide .content{
    width: 85rem;
}
.home .swiper-slide span{
     display: block;
     font-size: 2.2rem;
     color: var(--main-color);
     padding-bottom: 1rem;
     animation:fadeIn .4s linear backwards .3s;
}
.home .swiper-slide .content h3{
    font-size: 6vw;
    color: var(--white);
    text-transform: uppercase;
    line-height: 1;
    text-shadow:0rem 1rem 1rem #080808;
    padding: 1rem 0;
    animation:fadeIn .4s linear backwards .4s;
}
.home .swiper-slide .content .btn{
    animation:fadeIn .4s linear backwards .46s;
}
.swiper-button-next,.swiper-button-prev{
    top: inherit;
    left: inherit;
    bottom: 0;
    right: 0;
    height: 5rem;
    width: 5rem;
    background-color: var(--white);
    color: var(--black);
}
.swiper-button-next:hover,.swiper-button-prev:hover{
    background: var(--main-color);
    color: var(--white);
}
.swiper-button-next::after,.swiper-button-prev::after{
    font-size: 2rem;
}
.swiper-button-prev{
    right: 5rem;
}






/* home-about */
.home-about{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    align-items: center;
}
.home-about .image{
    flex:1 1 41rem;
}
.home-about .image img{
    width: 100% !important;
}
.home-about .content{
    padding: 3rem;
    background: var(--light-bg);
}
.home-about .content h3{
    font-size: 3rem;
    color: var(--black);
}
.home-about .content p{
    font-size: 1.5rem;
    line-height: 2;
    padding: 1rem 0;
    color: var(--black);
}




/*packages*/
.home-packages{
    background: var(--light-bg);
}
.home-packages .box-container{
    display: grid ;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 2rem;
}
.home-packages .box-container .box{
    border: var(--border);
    box-shadow: 2px 2px 4px var(--main-color);
    background: var(--white);
}
.home-packages .box-container .image{
    height: 20rem;
    overflow: hidden;
}
.home-packages .box-container .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .4rem linear;
    transition: transform .2s; 
}
.home-packages .box-container .image img:hover{
    transform: scale(1.3);
}
.home-packages .box-container .box .content{
    padding: 2rem;
    text-align: center;
}
.home-packages .box-container .box .content h3{
    font-size: 2rem;
    color: var(--black);
}
.home-packages .box-container .box .content p{
    font-size: 1rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1.5rem 0;
}
.packages .load-more{
    text-align: center;
    margin-top: 2rem;
}

/* home-offer */
.home-offer{
    text-align: center;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-offer .content{
    max-width: 70rem;
    margin: 0 auto;
}
.home-offer .content h3{
    font-size: 3.5rem;
    color: var(--black);
    text-transform: uppercase;
}
.home-offer .content p{
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
}





/* services */
.services .class-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    gap: 1rem;
    margin:0 5% 0 5%;
}
.services .class-container .box{
    padding: 3rem 2rem;
    text-align: center;
    background: var(--main-color);
}
.services .class-container .box:hover {
    background: var(--white);
    border: 1px solid var(--main-color);
    cursor: pointer;
}
.services .class-container .box img{
    height: 5rem;
}
.services .class-container .box img:hover{
    color: var(--white);
}
.services .class-container .box h3{
    font-size: 1.7rem;
    padding-top: 1rem;
}
.heading-title{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 3rem;
    text-transform: uppercase;
}



/* about */
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}
.about .image{
    flex:1 1 41rem;
}
.about .image img{
    width: 100%;
}
.about .content{
    flex: 1 1 41rem;
    text-align: center;
}
.about .content h3{
    font-size: 3rem;
    color: var(--black);
}
.about .content p{
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}
.about .content .icons-container{
    margin-top: 2rem;
    display: flex;
    flex-direction: wrap;
    gap: 1.5rem;
    align-items: flex-end;
}
.about .content .icons-container .icons{
    background: var(--light-bg);
    padding: 2rem;
    flex: 1 1 20rem;
}
.about .content .icons-container .icons i{
    font-size: 4rem;
    margin-bottom: 1rem;
    color: var(--main-color);
    display: block;
}
.about .content .icons-container .icons span{
    font-size: 1.3rem;
    color: var(--light-black);
    display: block;
    margin-top: 1rem;
}


/* reviews */
.reviews{
    background-color: var(--light-bg);
}
.reviews .swiper-slide {
    padding: 2rem;
    border: var(--border);
    background: var(--white);
    text-align: center;
    box-shadow: 2px 3px 20px var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reviews .swiper-slide .stars i{
    font-size: 1.7rem;
    color: var(--main-color);
}
.reviews .swiper-slide p{
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}
.reviews .swiper-slide h3{
    font-size: 2rem;
    color: --black;
}
.reviews .swiper-slide span{
    font-size: 1.5rem;
    color: var(--main-color);
}
.reviews .swiper-slide img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}


/* packages */
.packages .box-container{
    display: grid ;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 2rem;
}
.packages .box-container .box{
    border: var(--border);
    box-shadow: 2px 2px 4px var(--main-color);
    background: var(--white);
    display: none;
}
.packages .box-container .box:nth-child(1),
.packages .box-container .box:nth-child(2),
.packages .box-container .box:nth-child(3),
.packages .box-container .box:nth-child(4),
.packages .box-container .box:nth-child(5),
.packages .box-container .box:nth-child(6){
    display: inline-block;
}

.packages .box-container .image{
    height: 20rem;
    overflow: hidden;
}
.packages .box-container .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .4s linear;
    transition: transform .2s;
}
.packages .box-container .image img:hover{
    transform: scale(1.3);
}
.packages .box-container .box .content{
    padding: 2rem;
    text-align: center;
}
.packages .box-container .box .content h3{
    font-size: 2rem;
    color: var(--black);
}
.packages .box-container .box .content p{
    font-size: 1rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1.5rem 0;
}
.packages .load-more{
    text-align: center;
    margin-top: 2rem;
}



/*booking*/
.booking .book-form{
    padding: 2rem;
    background: var(--light-bg);
}
.booking .book-form .flex{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.booking .book-form .flex .inputBox{
    flex: 1 1 41rem;
}
.booking .book-form .flex .inputBox input{
    width: 100%;
    padding: 1.2rem 1.4rem;
    font-size: 1.3.4rem;
    color: var(--light-black);
    text-transform: none;
    margin-top: 1.5rem;
    border: var(--border);
}
.booking .book-form .flex .inputBox input:focus{
    background: var(--black);
    color: var(--white);
}
.booking .book-form .flex .inputBox input:focus::placeholder{
    color: var(--light-white);
}
.booking .book-form .flex .inputBox span{
    font-size: 1.5rem;
    color: var(--light-black);
    padding-left: 1.3rem;
}

/*footer*/
.footer{
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url(media/footer.jpg);}
.footer .box-container{
    display: grid ;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 1rem;
    padding-left: .7rem;
}
.footer .box-container .box h3{
    color:var(--white);
    font-size: 2rem;
    padding-bottom: 2rem;
}
.footer .box-container .box a{
    color:var(--light-white);
    font-size: 1.5rem;
    padding-bottom: 1rem;
    display: block;
}
.footer .box-container .box a i{
    color:var(--main-color);
    padding-right: .5rem;
    transition: .2rem linear;
}
.footer .box-container .box a:hover i{
    padding-right: 2rem;
}
.credit{
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
    margin-top: 3rem;
    border-top: .3rem solid var(--light-white);
    font-size: 2rem;
    color: var(--white);
}
.credit span{
    color: var(--main-color);
}


@media(max-width:1200px){
    section{
        padding: 3rem 5%;
    }
}
@media(max-width:991px){
    html{
        font-size: 55%;
    }
    section{
        padding: 3rem 2rem;
    }
    .home .swiper-slide .content h3{
        font-size: 5vw;
}
}
@media(max-width:768px){
    #menu-btn{
        display: inline-block;
        transition: .2s linear;
    }
    #menu-btn.fa-times{
        transform: rotate(180deg);
    }
    .header .navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: var(--white);
        border-top: var(--border);
        padding: 2rem;
        transition: .2s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .navbar a{
        display: block;
        margin: 2rem;
        text-align: center;
    }
    .home .swiper-slide .content h3{
        font-size: 5vw;
    }
    .home .swiper-slide span{
        font-size: 2rem;
    }
    .heading h1{
        font-size: 7rem;
        text-align: center;
        text-transform: uppercase;
        color: var(--white);
        text-shadow: var(--text-shadow);
     }
}
@media(max-width:450px){
    html{
        font-size: 50%;
    }
    .home .swiper-slide .content h3{
        font-size: 3vw;
    }
    .home .swiper-slide span{
        font-size: 1.7rem;
    }
    .heading h1{
        font-size: 6rem;
        text-transform: uppercase;
        color: var(--white);
        text-shadow: var(--text-shadow);
     }
}



